<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="text-white bg-dark" style="height: 100%;">
        <nav id="navbar">
            <h1>FreeChat</h1>  
        </nav>
        <div class="d-flex justify-content-center">
            <div id="message">

            </div>
        </div>
        <form name="message_form_name" id="message_form" class="input-group d-flex justify-content-center">
            <div class="col-auto">
                <input type="text" class="form-control" name="msg" id="input_message" placeholder="Message">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
            </div>
        </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./script.js"></script>
</body>
</html>